<footer class="footer" style="background-color: aliceblue">
  <div class="footer__section">
    <h3 class="footer__title">Pages</h3>
    <a class="footer__link" href="#">Home</a>
    <a class="footer__link" href="#">Product</a>
    <a class="footer__link" href="#">Pricing</a>
    <a class="footer__link" href="#">About</a>
    <a class="footer__link" href="#">Contact</a>
  </div>

  <div class="footer__section">
    <h3 class="footer__title">Tomothy</h3>
    <p class="footer__text">Eleanor Edwards</p>
    <p class="footer__text">Ted Robertson</p>
    <p class="footer__text">Annette Russell</p>
    <p class="footer__text">Jennie Mckinney</p>
    <p class="footer__text">Gloria Richards</p>
  </div>

  <div class="footer__section">
    <h3 class="footer__title">Jane Black</h3>
    <p class="footer__text">Philip Jones</p>
    <p class="footer__text">Product</p>
    <p class="footer__text">Colleen Russell</p>
    <p class="footer__text">Marvin Hawkins</p>
    <p class="footer__text">Bruce Simmons</p>
  </div>

  <div class="footer__section">
    <div class="footer__contact-item">
      <img class="footer__icon" src="img/footer-map.png" alt="Map" />
      <p class="footer__text">7480 Mockingbird Hill undefined</p>
    </div>
    <div class="footer__contact-item">
      <img class="footer__icon" src="img/footer-phone.png" alt="Phone" />
      <p class="footer__text">(239) 555-0108</p>
    </div>
    <div class="footer__socials">
      <a class="footer__social-link" href="#"
        ><img class="footer__social-icon" src="img/twitter.png" alt="Twitter"
      /></a>
      <a class="footer__social-link" href="#"
        ><img class="footer__social-icon" src="img/facebook.png" alt="Facebook"
      /></a>
      <a class="footer__social-link" href="#"
        ><img
          class="footer__social-icon"
          src="img/linked-in.png"
          alt="LinkedIn"
      /></a>
    </div>
  </div>
</footer>
