<section class="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>

  <div class="testimonials__company-logo">
    <img class="testimonials__logo" src="img/logo-ibm.png" alt="IBM logo" />
  </div>

  <p class="testimonials__quote">
    Most calendars are designed for teams. Slate is designed for freelancers who
    want a simple way to plan their schedule.
  </p>

  <div class="testimonials__person">
    <img
      class="testimonials__person-image"
      src="img/person-icon"
      alt="Some person"
    />
    <div class="testimonials__person-info">
      <h3 class="testimonials__person-name">Organize across</h3>
      <p class="testimonials__person-role">UI designer</p>
    </div>
  </div>

  <button class="testimonials__button">More Testimonials</button>
</section>
