<section class="py-5 text-center mb-5 px-5" style="margin-top: 8rem">
  <h2 class="fw-normal display-5" style="margin-bottom: 6rem">Testimonials</h2>

  <div class="my-5">
    <img
      src="img/logo-ibm.png"
      alt="IBM logo"
      class="img-fluid"
      style="max-height: 50px"
    />
  </div>

  <p class="fw-normal fs-4 text-center mx-auto my-5" style="max-width: 800px">
    Most calendars are designed for teams. Slate is designed for freelancers who
    want a simple way to plan their schedule.
  </p>

  <div
    class="d-flex align-items-center justify-content-center gap-3 mt-5"
    style="margin-bottom: 4rem"
  >
    <img
      src="img/person-icon.png"
      alt="Some person"
      class="rounded-circle img-fluid"
    />
    <div class="text-start">
      <h5 class="mb-2 fw-light">Organize across</h5>
      <p class="mb-0">UI designer</p>
    </div>
  </div>

  <button class="btn btn-primary rounded-pill btn-lg px-5 my-5">
    More Testimonials
  </button>
</section>
