<section class="features">
  <div class="features__intro center">
    <h2 class="features__title">Features</h2>
    <p class="features__description">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
  </div>

  <div class="features__blocks">
    <div class="features__block">
      <img class="features__image" src="img/feature-1.png" alt="Figures" />
      <h3 class="features__block-title">OpenType features Variable fonts</h3>
      <p class="features__block-text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>

    <div class="features__block">
      <img class="features__image" src="img/feature-2.png" alt="Pen" />
      <h3 class="features__block-title">Design with real data</h3>
      <p class="features__block-text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>

    <div class="features__block">
      <img class="features__image" src="img/feature-3.png" alt="Draw" />
      <h3 class="features__block-title">Fastest way to<br />take action</h3>
      <p class="features__block-text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
  </div>

  <div class="features__video">
    <img
      class="features__video-image"
      src="img/video.png"
      alt="Video Description"
    />
  </div>
</section>
