<section class="try-for-free">
  <div class="try-for-free__content">
    <h2 class="try-for-free__title">Fastest way to organize</h2>
    <p class="try-for-free__description">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
    <button class="try-for-free__button">Try for free</button>
  </div>

  <div class="try-for-free__image-wrapper">
    <img
      class="try-for-free__image"
      src="img/screen-content.png"
      alt="Screen content"
    />
  </div>
</section>
