<section class="subscribe">
  <div class="subscribe__image-wrapper">
    <img class="subscribe__image" src="img/newsletter.png" alt="Newsletter" />
  </div>

  <div class="subscribe__content">
    <p class="subscribe__label">At your fingertips</p>
    <h2 class="subscribe__title">Lightning fast prototyping</h2>
    <p class="subscribe__text">Subscribe to our Newsletter</p>
    <p class="subscribe__text subscribe__text--highlight">
      Available exclusivery on Figmaland
    </p>

    <form class="subscribe__form">
      <input class="subscribe__input" type="email" placeholder="Your email" />
      <button class="subscribe__button" type="submit">Subscribe</button>
    </form>
  </div>
</section>
