<section class="container mt-5 mb-5 py-5 px-5">
  <div class="row align-items-center justify-content-center g-5">
    <div class="col-md-5 text-center text-md-start">
      <h2 class="fw-normal display-5 mb-3">Fastest way to <br />organize</h2>
      <p class="fw-normal fs-4 text-muted mb-5 mt-4">
        Most calendars are designed for teams. Slate is designed for
        freelancers.
      </p>
      <button class="btn btn-primary rounded-pill btn-lg px-5">
        Try for free
      </button>
    </div>

    <div class="col-md-6">
      <img
        class="img-fluid"
        src="img/screen-content.png"
        alt="Screen content"
      />
    </div>
  </div>
</section>
