<section class="partners">
  <div class="partners__intro">
    <h2 class="partners__title">Partners</h2>
    <p class="partners__description">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
  </div>

  <div class="partners__row">
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-google.png" alt="Google logo" />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-amazon.png" alt="Amazon logo" />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__logo"
        src="img/logo-microsoft.png"
        alt="Microsoft logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-uber.png" alt="Uber logo" />
    </div>
  </div>

  <div class="partners__row">
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__logo"
        src="img/logo-dropbox.png"
        alt="Dropbox logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-google.png" alt="Google logo" />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-uber.png" alt="Uber logo" />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img class="partners__logo" src="img/logo-amazon.png" alt="Amazon logo" />
    </div>
  </div>

  <button class="partners__cta-button">Try For Free</button>
</section>
