<section class="py-5 mt-5 px-5">
  <div class="container">
    <div class="row justify-content-center align-items-center mt-5 pt-5 g-5">
      <div class="col-md-5 d-flex me-5">
        <img class="img-fluid" src="img/newsletter.png" alt="Newsletter" />
      </div>
    
      <div class="col-md-5 text-center text-md-start">
        <p class="fw-bold fs-5">At your fingertips</p>
        <h2 class="fw-normal display-5 mb-3">Lightning fast prototyping</h2>
        <p class="fw-bold fs-4">Subscribe to our Newsletter</p>
        <p class="text-muted fw-semibold">
          Available exclusively on Figmaland
        </p>
    
        <form class="d-flex justify-content-md-start justify-content-center gap-2 mt-4">
          <input class="form-control w-50 rounded-pill px-4" type="email" placeholder="Your email" />
          <button class="btn btn-primary rounded-pill px-4" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>