<div
  class="hero-overlay d-flex justify-content-center align-items-center text-center text-white"
>
  <div>
    <h1 class="display-4 fw-bold text-center mx-auto" style="max-width: 490px">
      The best products start with Figma
    </h1>
    <p class="lead fs-4 mt-1" style="max-width: 570px">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
    <button class="btn btn-primary rounded-pill btn-lg px-5 mt-3">
      Try For Free
    </button>
  </div>
</div>
